.root {
  height: 100vh;
  /* height: 100%; */
  font-family: sans-serif;
  background-color: #c7c7c7;
  flex-basis: 100%; /* new */
  overflow: hidden; /* new */
  display: flex; /* new */
  /* overflow-y: auto; */
}
